
.postHeader{
  display: flex;
  justify-content: space-between;
  padding: 8px 15px;
  align-items: center;
}
.userAvatar img{
  margin: 2px;
  border-radius: 100%;
  border: 3px solid white;
  width:40px;

}

.userAvatar{
  background: linear-gradient(to right, red, purple);
  display: flex;
  align-items: center;
  border-radius: 100%;
}

.postInfos{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.postInfos small , .postInfos b{
  padding-left: 15px;
}

.postAuthor{
  font-size: 14px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  
}

.postOptions{
  font-size: 20px;
  padding: 1rem;
  color:rgb(38,38,38);
  display: flex;
  align-items: center;
}