.post{
  display: flex;
  width:100%;
}


.postBody{
  width:100%;
  box-shadow: 0px 0px 1px black;
  margin-bottom:1rem;
  border-radius: 2px;
  background-color: white;
  padding-bottom: 10px;



}

@media(max-width:768px){
  .postBody{
    width: 100%;
    box-shadow: none;
    margin:0;
    background-color: #FAFAFA;
  }
}



.postBody .postImg img{
  width: 100%;
  
}

.post small{
  padding-left: 15px;
}
.interaction{
  color:rgb(38,38,38);
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
  font-size: 25px;
}


.likes{
  padding: 0 20px;
  font-size: 13px;
  color: rgb(238, 197, 14);  
  font-weight: bold;
}

.commentsBox{
  padding: 0 1rem;

}

.commentsBox b{
  font-size: 14px;
}
.commentsBox p{
  color: grey;
  font-size: 12px;
}

.interaction{
  color:rgb(38,38,38);
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
  font-size: 25px;
}

.buttons svg {
  padding-right: 15px;
  font-weight: 100;


}

.liked {
  color: red;
}
